{{!-- <form action="/newdepartment/create-new" method="POST"> --}}
<form action="/newdepartment/create-new" method="POST">
    <h2 class="text-center">New user Creation</h2>

    <div class="form-row ml-2 mr-2">
        <div class="form-group col-md-6">
            <label for="department">Department</label>
            <input type="text" class="form-control" name="department" id="department">
        </div>

    </div>



    <button type="submit" class="btn btn-primary">Create</button>
</form>