{{!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-3 shadow"> --}}
<nav class="navbar navbar-dark bg-dark">


    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <h6>mkc@sochstore.com</h6>
    </a>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/request">Request</a>
        <a class="py-2 d-none d-md-inline-block" href="/billdetails">Manual Bill</a>
        <a class="py-2 d-none d-md-inline-block" href="/alterationdetails">Alteration Bill</a>
        {{!-- <a class="py-2 d-none d-md-inline-block" href="/chat">CHAT</a> --}}

    </div>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>

</nav>